body {
    transition: background-color 0.3s ease;
    padding: 25px;
}
body div ul li {
    list-style-type: disc;
}


.dark-mode {
    background-color: #1a202c;
    color: #ffffff;
}

.clip{
    cursor: pointer;
}
.clip:hover{
    color: #b4b7bd;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #0056b3;
}

.box {
    background-color: #f3f3fb;
}

.navbar ul {
    display: flex;
}

.navbar li {
    color:#868b93;
    font-weight: 600;
    font-size: medium;
    list-style-type: none;
}


.navbar a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #161e3b; /* Change color on hover */
}

.navbar a.active {
    color: #161e3b; /* Change color for active link */
    cursor: default;
    pointer-events: none;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
}

.profile img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
}

.profile a {
    text-decoration: none; 
}

.txt {
    color: #161e3b;
}
.txt-lgt {
    color: #868b93;
}
.bg-txt {
    background-color: #161e3b;
}
.bg-txt-lgt-mx {
    background-color: #dde1e9;
}
.lnk {
    color: #4285F4;
    text-decoration: none;
}
.lnk:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);