body {
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #1a202c;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
